@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is <a href="https://github.com/ilhanklisura/eClinica" target="_blank">eClinica Web Application</a>.</p>
</div>
